.sidebar {
  color: #ecf0f1;
}

.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  img {
    width: 70%;
    height: 10rem;
  }
}

.sidebar-menu {
  margin-top: 1rem;
}

.sidebar-menu-item {
  position: relative;
}

.sidebar-item {
  display: flex;
  align-items: center;
  color: #ecf0f1;
  text-decoration: none;
  padding: 1.5rem 1.5rem;
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #ffffff1a;
  }

  &.menu-item-active {
    background-color: #ffffff33;
  }

  fa-icon {
    &.sidebar-item-arrow {
      margin-left: auto;
      font-size: 0.8rem;
      transition: transform 0.3s ease;

      &.rotated {
        transform: rotate(180deg);
      }
    }
  }

  &-text {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }

  &.has-children {
    position: relative;
  }
}

.sidebar-item-text {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.3rem;
}

.sidebar-submenu {
  background-color: rgba(0, 0, 0, 0.1);

  .sidebar-subitem {
    padding: 1.2rem 1.2rem;

    span {
      font-size: 1rem;
    }
  }

  .sidebar-item {
    padding-left: 25%;
    font-size: 1rem;
  }
}

.sidebar-collapsed {
  width: 50px;

  .sidebar-menu-item {
    position: static;
  }

  .sidebar-item {
    i {
      margin-right: 0;
    }
    &-text,
    &-arrow {
      opacity: 0;
      width: 0;
      overflow: hidden;
    }
  }

  .sidebar-submenu {
    display: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
