@use "./../../../../variables" as vars;

span {
  color: vars.$font-st-color;
  font-size: 11dvmin;
}

.cursor {
  border-right: solid 0.1rem;
  border-right-color: vars.$font-st-color;
  padding-right: 1rem;
  animation-name: blinking;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;

  @keyframes blinking {
    50% {
      border-right-color: transparent;
    }
  }
}
