<div class="title">
  <p>Edit course</p>
</div>
<form [formRoot]="courseForm" (submit)="onSubmit($event)">
  <h4>General informations</h4>
  <section class="grid grid-cols-2 gap-4">
    <mat-form-field class="col-span-1">
      <mat-label>Title</mat-label>
      <input matInput [formField]="courseForm.title" />
      <mat-error> {{ courseForm.title().errors()[0]?.message }} </mat-error>
    </mat-form-field>

    <mat-form-field class="col-span-1">
      <mat-label>Teacher</mat-label>
      <input matInput [formField]="courseForm.teacher" />
      <mat-error> {{ courseForm.teacher().errors()[0]?.message }} </mat-error>
    </mat-form-field>

    <mat-form-field class="col-span-2">
      <mat-label>Description</mat-label>
      <input matInput [formField]="courseForm.description" />
      <mat-error>
        {{ courseForm.description().errors()[0]?.message }}
      </mat-error>
    </mat-form-field>
  </section>

  <h4>When will it happen?</h4>
  <section class="grid grid-cols-2 gap-2">
    <mat-form-field class="col-span-1">
      <mat-label>Start</mat-label>
      <input
        matInput
        [matTimepicker]="startTime"
        [formField]="courseForm.startTime"
      />
      <mat-error> {{ courseForm.startTime().errors()[0]?.message }} </mat-error>
      <mat-timepicker-toggle matIconSuffix [for]="startTime" />
      <mat-timepicker #startTime />
    </mat-form-field>

    <mat-form-field class="col-span-1">
      <mat-label>End</mat-label>
      <input
        matInput
        [matTimepicker]="endTime"
        [matTimepickerMin]="courseForm.startTime().value()"
        [formField]="courseForm.endTime"
      />
      <mat-error> {{ courseForm.endTime().errors()[0]?.message }} </mat-error>
      <mat-timepicker-toggle matIconSuffix [for]="endTime" />
      <mat-timepicker #endTime />
    </mat-form-field>

    <mat-form-field class="col-span-1">
      <mat-label>Date</mat-label>
      <input
        matInput
        [matDatepicker]="date"
        [min]="minDate"
        [formField]="courseForm.date"
      />
      <mat-error> {{ courseForm.date().errors()[0]?.message }} </mat-error>
      <mat-datepicker-toggle matIconSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
  </section>

  <section class="grid grid-col-1">
    <button
      type="submit"
      class="button-submit justify-self-end span-col-1"
      role="button"
    >
      Edit
    </button>
  </section>
</form>
