<div name="div-input">
  <mat-form-field>
    @if (labelInput() != "") {
      <mat-label>{{ labelInput() }}</mat-label>
    }
    <input
      matInput
      [matTimepicker]="picker"
      [matTimepickerMin]="minTime()"
      [matTimepickerMax]="maxTime()"
      [id]="id()"
      [placeholder]="placeholder()"
      [formField]="model()"
      (focus)="onFocus()"
      (blur)="onBlur()"
    />
    <mat-timepicker-toggle matIconSuffix [for]="picker" />
    <mat-timepicker #picker />
    @let state = model()();
    @if (state.touched() && state.invalid() && onBlurFlag) {
      <mat-error>{{ state.errors()[0].message }}</mat-error>
    }
  </mat-form-field>
</div>
