<form>
  <section class="grid-container-input-2col container-input">
    <section class="column1">
      <div>
        <p>Title</p>
        <input type="text" [(ngModel)]="course().title" />
      </div>
      <div>
        <p>Start</p>
        <input type="text" [(ngModel)]="course().startTime" />
      </div>
      <div>
        <p>End</p>
        <input type="text" [(ngModel)]="course().endTime" />
      </div>
    </section>

    <section class="column2">
      <div>
        <p>Teacher</p>
        <input type="text" [(ngModel)]="course().teacher" />
      </div>
      <div>
        <p>Date</p>
        <input type="text" [(ngModel)]="course().date" />
      </div>
    </section>
  </section>

  <section class="grid-container-input-2col">
    <div class="column2 button-submit">
      <button role="button">Add</button>
    </div>
  </section>
</form>
