.grid-container {
  display: grid;
  grid-template-columns: 50% auto;

  grid-template-areas: "column1 column2";

  div {
    padding-bottom: 1rem;
  }

  div:last-child {
    padding-bottom: 0rem;
  }

  .column1 {
    grid-area: column1;
    justify-self: flex-start;
  }

  .column2 {
    grid-area: column2;
    justify-self: flex-end;
  }
}

ul {
  column-count: 2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

li {
  width: 50%;
}

li:nth-child(even) {
  text-align: right;
}
