@use "@angular/material" as mat;
@use "./variables" as vars;
@use "tailwindcss";

$font-size: 1.3rem;
$font-family: serif;
$font-weight: bold;
$font-color: #ecf0f1;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$magenta-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}

span {
  font-family: $font-family;
  font-weight: $font-weight;
  color: $font-color;
}

.title {
  p {
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
  }
  display: inline-flex;
}

form {
  margin-top: 1rem;
}

form > section {
  margin-top: 1rem;
}

form > h1 {
  font-family: $font-family;
  font-weight: $font-weight;
  color: #919191;
  justify-self: center;
}

form > h4 {
  margin-top: 1rem;
  font-family: $font-family;
  font-weight: $font-weight;
  color: #919191;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button-submit {
  width: 10%;
  margin-top: 0.5rem;
  cursor: pointer;
  background: linear-gradient(to bottom right, vars.$font-st-color, #000);
  border: 0;
  border-radius: 12px;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $font-color;
  line-height: 2.5;
  padding: 0 1rem;
  text-align: center;
  white-space: nowrap;
}

.button-submit:not([disabled]):focus {
  box-shadow:
    0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem #000,
    0.125rem 0.125rem 1rem vars.$font-st-color;
}

.button-submit:not([disabled]):hover {
  box-shadow:
    0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem #000,
    0.125rem 0.125rem 1rem vars.$font-st-color;
}
